# Main Node configuration
MAIN_PORT=3001
MAIN_HOST=0.0.0.0
DB_PATH=./transcodarr.db

# Worker configuration (copy to apps/worker/.env)
WORKER_NAME=MyWorker
WORKER_PORT=3002
MAIN_URL=http://192.168.0.100:3001

# Web UI (copy to apps/web/.env.local)
NEXT_PUBLIC_MAIN_URL=http://192.168.0.100:3001
